* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #0E0E0E;
    color: #AAAAAA;
}

header {
    display: flex;
    align-items: center;
    background: #1C1C1C;
    color: inherit;
    padding: 1rem 0.75rem;
    gap: 1rem;
    width: 100%;
}

header > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header > div:first-child {
    flex: 1;
}

.menu-icon {
    font-size: 1.5rem;
}

.header-link {
    color: inherit;
    text-decoration: none;
}

.header-link h2 {
    color: #DDDDDD;
}

.input-bar {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
    background: transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    color: inherit;
    justify-content: flex-end;
    transition-duration: 500ms;
}

.input-bar input {
    display: none;
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    color: inherit;
}

.active-icon-link {
    display: none;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: inherit;
    transition-duration: 200ms;
    font-size: 0.9rem;
}

.active-icon-link i {
    font-size: 1.2rem;
}

.active-icon-link:hover {
    color: #9B80C9;
}

.signin-btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border: none;
    background: #543092;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
}

.signin-btn:hover {
    background: #6A3DB8;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem 0 3rem;
}

.anime-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}

.updated-anime-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.updated-anime-header h2 {
    color: #DDDDDD;
}

.filter-container,
.filter-genre-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.filter-link-a {
    text-decoration: none;
    color: inherit;
}

.filter-link {
    text-decoration: none;
    color: #666666;
}

.filter-link:hover {
    color: #AAAAAA;
}

.updated-anime-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.anime-card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.anime-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem; 
    background: #242424;
}

.anime-item img {
    object-fit: cover;
    aspect-ratio: 12 / 16;
    max-width: 100%;
    height: auto;
}

.anime-info {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.anime-eps {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex: 1;
}

.studio-anime {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-anime {
    color: inherit;
    font-size: 1rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.title-anime:hover {
    color: #9B80C9;
}

.active-link {
    text-decoration: none;
    color: inherit;
    transition-duration: 200ms;
}

.active-link:hover {
    color: #9B80C9;
}

.recommendation-anime {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0.75rem;
}

.title-head {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.recommendation-anime-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.75rem;
    padding: 1.5rem 0;
    width: 100%;
}

.recommendation-anime-image {
    max-width: 55px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 12 / 16;
    border-radius: 0.15rem; 
}

.recommendation-anime-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.9rem;
}

.recommendation-anime-card,
.top-anime-card {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 0.25rem; 
    background: #242424;
    padding: 1rem;
    gap: 1rem;
    min-width: 300px;
}

.top-anime-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-top: 1.5rem;
    width: 100%;
}

.top-anime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    min-width: 400px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background: #242424;
    gap: 1rem;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.75rem;
}

.social-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background: #DDDDDD;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: black;
    font-size: 1rem;
}

.social-btn a {
    color: inherit;
    text-decoration: none;
}

.social-btn a:hover {
    color: #6A3DB8;
}

@media (min-width: 640px) {
    .input-bar {
        padding: 0.5rem 1rem;
        background: #141414;
        justify-content: flex-start;
    }

    .input-bar input {
        display: block;
    }

    .title-head {
        font-size: 0.9rem;
    }

    .updated-anime-header {
        display: flex;
        flex-direction: row;
        gap: 0rem;
        align-items: center;
    }

    footer > div {
        flex-direction: row;
        gap: 1rem;
    }

    
}

@media (min-width: 1024px) {
    .input-bar {
        max-width: 500px;
    }

    .active-icon-link {
        display: flex;
    }

    main {
        flex-direction: row;
        gap: 0.5rem;
    }

    .recommendation-anime {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}